Package: rssreader
Version: 1.1.0
Architecture: all
Maintainer: Xiaojian Yi <xy6g11@ecs.soton.ac.uk>
Installed-Size: 88
Depends: php5
Section: php
Priority: optional
Description: This is a RSS Reader used to retrieve feeds form bbc.co.uk - coursework 1 of info6005 2012
